<!DOCTYPE html>
<html>
<head>
  <title>Spotlight</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6706294/7509792/css/fonts.css" />
</head>
<%= render "shared/analytics4" %>
<body>
<!-- Remove?
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
-->
<%= yield %>
</body>
</html>
