<!DOCTYPE html>
<html>
<head>
  <title>Spotlight</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://fonts.gstatic.com/l/font?kit=FwZc7-Am2FI_-VOxaLDvvq27omO73q3LkQ&skey=96867d716c89840e&v=v19" />
</head>
<%= render "shared/analytics4" %>
<body>
<!-- Remove?
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
-->
<%= yield %>
</body>
</html>
